In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [9]:
a = set()
print(a)
type(a)

set()

set

* create a non empty set
* print that set

In [5]:

b = {1,2,3}
print(b)
type(b)

{1, 2, 3}

set

* iterate over the set and print results

In [12]:
display("a's elements:")
for element in a:
    print(element)
display("b's elements:")
for element in b:
    print(element)

"a's elements:"

"b's elements:"

1
2
3

* add one item to the set

In [35]:
a = set()

a.add(1)
a
a.add(2)
a

{1}

{1, 2}

* add multiple items to the set

In [37]:
a.update([3, 4])
a

{1, 2, 3, 4}

In [32]:
c = {"a", "b", "c"}
d = {"n", "m", "o"}
display('before c.update(d) ')
c
d
display('after c.update(d) ')

c.update(d)

c
d


e = {"b", "a", "c"}
f = ["o", "p"]
display('before e.update(f) ')
e.update(f)
display('after e.update(f) ')
e
f

'before c.update(d) '

{'a', 'b', 'c'}

{'m', 'n', 'o'}

'after c.update(d) '

{'a', 'b', 'c', 'm', 'n', 'o'}

{'m', 'n', 'o'}

'before e.update(f) '

'after e.update(f) '

{'a', 'b', 'c', 'o', 'p'}

['o', 'p']

* remove an item from a set if it is present in the set

* find maximum and minimum values of the set

In [49]:
a = {1, 2, 3, 4}
a
a.remove(3)
a

a.add(3)
a
a.discard(3)
a
a.discard(3)
a.discard(3) # raise no exception
a.discard(3)
a

{1, 2, 3, 4}

{1, 2, 4}

{1, 2, 3, 4}

{1, 2, 4}

{1, 2, 4}

* print the length of the set

In [ ]:
a = {1, 2, 3, 4}

In [55]:
len(a)
# a.len()

3

* create an intersection of x and y

In [60]:
x = {'h', 'i', 'j'}
y = {'j', 'k', 'l'}
x,y
x.intersection(y)
x & y

({'h', 'i', 'j'}, {'j', 'k', 'l'})

{'j'}

{'j'}

* create an union of x and y

In [65]:
x = {'h', 'i', 'j'}
y = {'j', 'k', 'l'}

x | y

x.union(y)

x, y

{'h', 'i', 'j', 'k', 'l'}

{'h', 'i', 'j', 'k', 'l'}

({'h', 'i', 'j'}, {'j', 'k', 'l'})

* create difference between x and y

In [68]:
x = {'h', 'i', 'j'}
y = {'j', 'k', 'l'}

x - y
x.difference(y)
x, y

{'h', 'i'}

{'h', 'i'}

({'h', 'i', 'j'}, {'j', 'k', 'l'})

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [84]:
s = 'Bottled water booming despite worries over water'

from collections import Counter
c = Counter(s.split())
c
display(c.elements())
print(c.elements())
sorted(c.elements())

Counter({'Bottled': 1,
         'water': 2,
         'booming': 1,
         'despite': 1,
         'worries': 1,
         'over': 1})

<itertools.chain object at 0x7fb6686d1520>

['Bottled', 'booming', 'despite', 'over', 'water', 'water', 'worries']

* print the most common words

In [80]:
s = 'Bottled water booming despite worries over water'
words = s.split()
Counter(words).most_common(1)
Counter(words).most_common(2)
Counter(words).most_common(3)

[('water', 2)]

[('water', 2), ('Bottled', 1)]

[('water', 2), ('Bottled', 1), ('booming', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [96]:
# count = defaultdict(int)
# names_list = "Mike John Mike Anna Mike John John Mike Mike Britney Smith Anna Smith".split()
# for names in names_list:
#     count[names] +=1
# print(count)

from collections import defaultdict
count = defaultdict(int)
s = 'Bottled water booming despite worries over water'
# word_list = s.split()
for word in s.split():
    count[word] += 1
print(count)

defaultdict(<class 'int'>, {'Bottled': 1, 'water': 2, 'booming': 1, 'despite': 1, 'worries': 1, 'over': 1})

* create deque from list set used in first exercise

In [97]:
from collections import deque

list = ["a","b","c"]
deq = deque(list)
print(deq)

deque(['a', 'b', 'c'])

* append number 10 to deque

In [102]:
list = ["a","b","c"]
deq = deque(list)

deq.append(10)
deq

deque(['a', 'b', 'c', 10])

* remove element from the right end from deque

In [105]:
list = ["a","b","c"]
deq = deque(list)

deq.append(10)
deq

deq.pop()
deq

deque(['a', 'b', 'c', 10])

10

deque(['a', 'b', 'c'])

* remove element from the left end from deque

In [106]:
list = ["a","b","c"]
deq = deque(list)

deq.append(10)
deq

deq.popleft()
deq

deque(['a', 'b', 'c', 10])

'a'

deque(['b', 'c', 10])

* delete all elements from deque

In [108]:
list = ["a","b","c"]
deq = deque(list)
deq
deq.clear()
deq

deque(['a', 'b', 'c'])

deque([])

* create named tuple (people) with name and surname as position names

In [110]:
from collections import namedtuple

people = namedtuple('people', 'name, surname')
p1 = people('Pete', 'Cat')

* print name and surname

In [112]:
print(p1.name,p1.surname)

Pete Cat

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [113]:
s = 'abc'
try:
    s.upper()
except:
    print('not a sting')

'ABC'

In [114]:
s = 10
try:
    s.upper()
except:
    print('not a sting')

not a sting

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [127]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except:
        print('You do not know me yet!')

#### Task I
Fix errors in the function above so we can run following code

In [126]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
You do not know me yet!
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [128]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except:
        print(f'{text} is not in the relation with Luke')

In [129]:
relation_to_luke("aaaa")

aaaa is not in the relation with Luke